<section id="key-points" class="bg-gradient-primary-to-secondary">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5 text-white">
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi-search icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">{{ 'index.key_points.heading.discovery'|trans }}</h3>
                                <p class="text-white mb-0">{{ 'index.key_points.text.discovery'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="text-center">
                                <i class="bi-shield-check icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">{{ 'index.key_points.heading.secure'|trans }}</h3>
                                <p class="text-white mb-0">{{ 'index.key_points.text.secure'|trans }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <div class="text-center">
                                <i class="bi-code-slash icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">{{ 'index.key_points.heading.modern_technologies'|trans }}</h3>
                                <p class="text-white mb-0">{{ 'index.key_points.text.modern_technologies'|trans }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <i class="bi-cloud icon-feature d-block mb-3"></i>
                                <h3 class="font-alt">{{ 'index.key_points.heading.cloud_computing'|trans }}</h3>
                                <p class="text-white mb-0">{{ 'index.key_points.text.cloud_computing'|trans }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>