<form
    method="post"
    action="{{ path('app_expense_delete', {'id': expense.id}) }}"
    onsubmit="return confirm('Are you sure you want to delete this?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ expense.id) }}">

    <button class="btn btn-primary rounded-pill mb-1 w-100" title="{{ 'crud.general.delete'|trans }}">
        <span class="d-flex align-items-center justify-content-center">
            <i class="bi-trash2-fill me-2"></i>
            <a href="{{ path('app_expense_edit', {'id': expense.id}) }}">
                <span class="medium text-white logout">{{ 'crud.general.delete'|trans }}</span>
            </a>
        </span>
    </button>
</form>
